/*vapaasti saa muokata*/

body {
    overflow-x: hidden;
    position: relative;
}

.footer {
    background-color: #cdc7ff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

/*.footer-content img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}*/

.h5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) { /* Tarkoittaa tablet-näyttöjä ja pienempiä */
    .footer h5 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

p {
    font-size: small;
}
