/* Vapaasti voi muokata */
body {
    padding-top: 100px;
}

.navbar {
    margin-bottom: 20px; /* Lisätään väliä navbarrin alapuolelle */
    margin-top: 20px;
}

.header {
    background-color: #e7d6c3; /* Asettaa otsikon taustavärin */
    padding: 0 15px;
    height: auto; 
}

/* Hampurilaisvalikon sijainti */
.navbar-toggler {
    position: absolute;
    top: 1px;
}

.custom-logo {
    width: 150px;
    height: auto;
    margin-top: 5px;
}

/* Säädöt pienemmille näytöille */
@media (max-width: 768px) {
    .header {
        height: auto;
    }
}

.nav-link {
    white-space: nowrap; /* Estää linkin tekstiä menemästä kahdelle riville */
}